* {
    box-sizing: border-box
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: white;
    font-family: 'Cairo', sans-serif;
    font-style: normal;
    font-weight: 400;
}

.container {
    display: flex;
    position: absolute;
    left: 17px;
    right: 17px;
    top: 17px;
    height: 546px;
    width: auto;
    background: #EAFFEE;
    border-radius: 24px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}



div form h2 {
    position: absolute;
    width: 284px;
    height: 58px;
    right: 29.18px;
    top: 97px;
    font-size: 44px;
    line-height: 58px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;

}

.avatar {
    position: absolute;
    width: 100px;
    right: 213.18px;
    top: 34px;
    filter: drop-shadow(0px 0px 2px black);

}

.inputs-form {
    position: absolute;
    right: 63.18px;
    top: 215px;
    width: fit-content;

}

.input-form1 {
    width: 416px;
    height: 40px;
    padding-left: 10px;
    background: #FFFFFF;
    border: 3px solid #45B09E;
    box-sizing: border-box;
    border-radius: 12px;
}

.label-form1 {
    position: relative;
    width: 150px;
    height: 45px;
    left: 289px;
    top: 0px;
    /* identical to box height */

    font-size: 17px;
    line-height: 45px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

::placeholder {
    position: relative;
    width: 146px;
    height: 58px;
    left: 6px;
    top: 2px;

    font-family: 'Cairo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 58px;
    /* identical to box height */

    display: flex;
    align-items: center;
    color: #C4C4C4;
}

.input-form2 {
    width: 416px;
    height: 40px;
    padding-left: 10px;
    background: #FFFFFF;
    border: 3px solid #45B09E;
    box-sizing: border-box;
    border-radius: 12px;
}

.label-form2 {
    position: relative;
    width: 150px;
    height: 45px;
    left: 312px;
    top: 0px;
    /* identical to box height */

    font-size: 17px;
    line-height: 45px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

a {
    display: block;
    text-align: right;
    text-decoration: none;
    color: #999;
    font-size: 0.9rem;
    transition: .3s;
}

a:hover {
    color: #45B09E;
}

.btn {
    position: absolute;
    display: block;
    width: 130px;
    height: 38px;
    right: 262px;
    top: 440px;
    border: 1px solid #45B09E;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 400;
    font-size: 15.4615px;
    line-height: 34px;
    text-align: left;
    color: #FFFFFF;
    cursor: pointer;
    background-image: linear-gradient(to right, #000000, #45B09E, #000000);
    background-size: 200%;
    transition: .5s;
}

.btn:hover {
    background-position: right;
}

.rectangle {
    float: left;
    width: 570px;
    background: #45B09E;
    border-right: 116px solid #EAFFEE;
    border-top: 546px solid transparent;
    border-radius: 24px 24px 0px 24px;
}

.complementary {
    width: 595px;
    background: #45B09E;
    border-right: 136px solid #EAFFEE;
    border-top: 479px solid transparent;
    border-radius: 26px;
    border-bottom-right-radius: 24px;
}

.p1 {
    position: absolute;
    width: 290px;
    height: 67px;
    left: 141px;
    top: 25px;
    font-weight: 700;
    font-size: 36px;
    line-height: 67px;
    display: flex;
    align-items: center;
    text-align: center;
    direction: rtl;

    color: #FFFFFF;
}

.logo {
    position: absolute;
    width: 315px;
    height: 315px;
    left: 76px;
    top: 110px;
}

.p2 {
    position: absolute;
    width: 496px;
    height: 45px;
    left: 180px;
    top: 403px;
    font-weight: 700;
    font-size: 24px;
    line-height: 45px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: right;

    color: #FFFFFF;
}

.sign-up {
    position: absolute;
    display: block;
    width: 130px;
    height: 38px;
    left: 38px;
    top: 474px;
    border: 1px solid #45B09E;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 400;
    font-size: 15.4615px;
    line-height: 34px;
    text-align: left;
    color: #FFFFFF;
    cursor: pointer;
    background-image: linear-gradient(to right, #000000, #45B09E, #000000);
    background-size: 200%;
    transition: .5s;
}

.sign-up:hover {
    background-position: right;
}
